@use "../abstracts/" as *;

.d-block {
    display: block;
}
.d-flex {
    display: flex;
}

.flex-frow-1 {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.center-items {
    place-items: center;
}
.justify-content {
    justify-content: space-between;
}

.gap-1 {
    gap: $size-4;
}

.gap-2 {
    gap: $size-8;
}




