@use "../abstracts/" as *;

.card {
    
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;
    padding: $size-4 $size-8;
    background-color: $card-bg;
    .card-header {
        display: flex;
        gap: $size-8;
        .name {
            align-self: center;
        }
    }
    .stats {
        display: flex;
        gap: $size-8;
        .item {
            display: flex;
            flex-direction: column;
        }
    }
    .information {
        display: flex;
        flex-direction: column;
        gap: $size-4;
        
    }
}

