@use "../abstracts/" as *;


input[type=text] {
    border: $border-none;
    border-bottom: $input-bottom-border;
    border-top-left-radius: $top-left-radius;
    border-top-right-radius: $top-right-radius;
    padding: $input-padding;
    color: $input-text-clr;
    font-size: $input-font-size;
    background-color: $input-bg-color;
    margin-right: $size-17;
    &:hover {
        border-bottom: $input-border-hover;
    }
    &:focus {
        border: $border-none;
        border-bottom: $border-bottom-focus;
        outline: $outline-none;

    }
    &:active {
        border: $border-none;
        border-bottom: $border-bottom-active;
        outline: $outline-none;
    }
}
