@use "../abstracts/" as*;
@use "./typography" as*;

body {
    background-color: $bg-body;
    font-family: $ff-base;
    margin-bottom: 2rem;
}

.wrapper {
    max-width: 530px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $secondary-500;
}

.border-right {
    border-right-style: outset;
    border-right-width: 3px;
    padding-right: inherit;
}
