
$clr-white: #ffffff;
$clr-black: #000000;

//primary colors

$primary-100: #EBF5F7;
$primary-200: #36C8C3;
$primary-500: #1CA8A6;

//secondary colors

$secondary-100: $clr-white;
$secondary-200: #A8BACA;
$secondary-500: $clr-black;

//body background color

$bg-body: $primary-100;
$bg-footer: $clr-white;

//alert

$red: #e01c1c;

$danger: $red;



